



<section class="min-h-screen bg-[#F0F2F5] flex items-center justify-center p-4">
  <div class="container max-w-7xl mx-auto flex flex-col lg:flex-row items-center lg:items-start gap-12  ">
    
    <div class="w-full lg:w-7/12">
      <h1 class="text-6xl font-extrabold text-[#003585] tracking-tighter mb-4">
        Route Posts
      </h1>
      <p class="text-2xl text-[#1C1E21] leading-tight mb-8 w-full lg:w-10/12">
        Connect with friends and the world around you on Route Posts.
      </p>

      <div class="bg-white rounded-[2rem] shadow-sm border border-gray-200 p-8">
        <span class="text-[#003585] font-bold text-sm tracking-widest uppercase">
          About Route Academy
        </span>
        <h2 class="text-2xl font-bold text-[#1C1E21] mt-2 mb-4">
          Egypt's Leading IT Training Center Since 2012
        </h2>
        <p class="text-gray-500 text-sm  leading-relaxed mb-8">
          Route Academy is the premier IT training center in Egypt, established in 2012. We specialize in delivering high-quality training courses in programming, web development, and application development. We've identified the unique challenges people may face when learning new technology and made efforts to provide strategies to overcome them.
        </p>

        <div class="grid grid-cols-1 font-medium sm:grid-cols-2 md:grid-cols-3 gap-4">
          <div class="bg-[#F0F7FF] rounded-xl p-4 border border-blue-50">
            <p class="text-xl font-bold text-[#003585]">2012</p>
            <p class="text-[10px] text-[#003585] font-bold uppercase">Founded</p>
          </div>
          <div class="bg-[#F0F7FF] rounded-xl p-4 border border-blue-50">
            <p class="text-xl font-bold text-[#003585]">40K+</p>
            <p class="text-[10px] text-[#003585] font-bold uppercase">Graduates</p>
          </div>
          <div class="bg-[#F0F7FF] rounded-xl p-4 border border-blue-50">
            <p class="text-xl font-bold text-[#003585]">50+</p>
            <p class="text-[10px] text-[#003585] font-bold uppercase">Partner Companies</p>
          </div>
          <div class="bg-[#F0F7FF] rounded-xl p-4 border border-blue-50">
            <p class="text-xl font-bold text-[#003585]">5</p>
            <p class="text-[10px] text-[#003585] font-bold uppercase">Branches</p>
          </div>
          <div class="bg-[#F0F7FF] rounded-xl p-4 border border-blue-50">
            <p class="text-xl font-bold text-[#003585]">20</p>
            <p class="text-[10px] text-[#003585] font-bold uppercase">Diplomas Available</p>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full py-5 lg:w-5/12 flex justify-center  lg:justify-end rounded-2xl bg-white p-4 sm:p-6    mt-6">


      <div class="w-full max-w-[430px lg:order-2 py-8 ">
        
         <h1 class="text-3xl font-medium text-slate-900">Create a new account</h1>
         <p class="">It is quick and easy.</p>

    <form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="grid space-y-3.5 mt-6 py-4">

      <div class="relative">
        <input

         [class] ="{
              'border-green-700' : loginForm.get('email')?.valid,
              'border-red-700'  : loginForm.get('email')?.invalid && loginForm.get('email')?.touched,
            }"
          formControlName="email"
          type="email"
          id="EmailAddress"
          class="block px-2.5 pb-2.5 pt-4 w-full p-2.5 text-xl text-heading bg-transparent rounded-base  border-default-medium  appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
          placeholder=" "
        />
        <label
          for="EmailAddress"
          class="absolute text-xs text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]  px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
        >
          @ Email address
        </label>
      </div>

        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched ) {

             <div
        class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
        role="alert"
      >
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
            
			      @if (loginForm.get('email')?.hasError('required')) { <li>Email is required.</li>}
            @else if (loginForm.get('email')?.hasError('email')) {<li>Please enter a valid email address.</li>}
			
       
          </ul>
        </div>
      </div>
        }



      <div class="relative">
        <input
            [class] ="{
              'border-green-700' : loginForm.get('password')?.valid,
              'border-red-700'  : loginForm.get('password')?.invalid && loginForm.get('password')?.touched,
            }"
            #pass
          formControlName="password"
          type="passsword"
          id="password"
          class="block px-2.5 pb-2.5 pt-4 w-full p-2.5 text-xl text-heading bg-transparent rounded-base  border bg-slate-50  border-default-medium  appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
          placeholder=" "
        />
        <label
          for="password"
          class="absolute text-xs text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]  px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
        >
          <i class="fa-solid fa-key"></i> Password
        </label>

        <span (click)="showPassword(pass)" class="absolute top-1/2 end-4 -translate-y-1/2 cursor-pointer"> <i class="fas fa-eye-slash"></i></span>
      </div>


       @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched ) {

             <div
        class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
        role="alert"
      >
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">

			   @if (loginForm.get('password')?.hasError('required')) { <li> Password is required.</li>}
            @else if (loginForm.get('password')?.hasError('pattern')) {<li>Must contain at least 8 chars, 1 uppercase, 1 lowercase, 1 number, and 1 special</li>}
    
          </ul>
        </div>
      </div>
        }

      <button
        type="submit"
        class="disabled: bg-gray-400 disabled:cursor-not-allowed bg-mainColor text-xl py-3 rounded-xl text-white cursor-pointer"
      >
        Login
        @if (loading) {<i class="fas fa-spinner animate-spin"></i>}
      </button>

      @if (msgError) {<p class="text-center text-red-600 py-2 rounded bg-red-300 w-1/2 mx-auto">{{msgError}}</p>}

        <button 

        routerLink="/register"
        
        type="button" class="border-2 cursor-pointer text-xl border-blue-600 text-blue-600 rounded-full py-2 mt-2">
        Create New Account</button>

    </form>


      </div>


    </div>

  </div>
</section>